<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>My Account</h1>
        <% if(message) { %>
          <p class="alert alert-success"><%= message %></p>
        <% } %>
        <h2>Hello, <%= user.first_name %></h2>
        <h4>You have <%= user.credits %> credits.</h4>
        <h4>You have completed <%= numComClasses %> classes.</h4>
        <!-- put subscription info here -->
        <div class="row portfolio-container">
          <% classes.forEach(obj => { %>
            <div class="<%= obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 ? 'col-lg-4 col-md-6 portfolio-item wow closed-class' : 'col-lg-4 col-md-6 portfolio-item wow open-class'; %>" >
              <div class="portfolio-info">
                <h3><%= obj.name %> <%= obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 ? "(Finished)" : ""; %></h3>
                <h6><%= formatDate(obj.start_datetime); %> ~ <%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h6>
                <p><%= obj.description %></p>
                <% if (obj.time_to_class.hours > -1) { %>
                  <form action="/schedule/cancel/confirm" method="POST" class="fix-to-bottom">
                    <input name="class_id" value=<%= obj.class_id %> hidden />
                    <input name="credits" value=<%= !obj.time_to_class.days ? 0 : obj.credit_cost; %> hidden />
                    <input name="hours_to_class" value=<%= obj.time_to_class.hours %> hidden />
                    <button type="submit">Cancel</button>
                    <span><%= !obj.time_to_class.days ? "Class is coming up! This won't refund you any credits." : `This will refund you ${obj.credit_cost} credits.`; %></span>
                  </form>
                <% } %>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>