<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>My Account</h1>
        <% if(message) { %>
          <p class="alert alert-success"><%= message %></p>
        <% } %>
        <div class="account-box">
          <div>
            <h2>Hello, <%= user.first_name %></h2>
            <h5>You have <%= user.credits %> credits.</h5>
            <h5>You have completed <%= numComClasses %> classes.</h5>
          </div>
          <div id="sub-box-div">
            <% if (subscription) { %>
              <h5>Subscription:</h5>
              <div class="sub-box">
                <p>Next payment:<br><%= subscription.next_invoice %></p>
                <div>
                  <p><%= subscription.credit_amount %> credits.</p>
                  <p><%= subscription.price %></p>
                  <form id="sub-cancel" action="/purchase/subscription/cancel" method="POST">
                    <button type="submit">Cancel</button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </div>
        <% if (classes.length > 0) { %>
          <h5>Your scheduled classes:</h5>
        <% } else { %>
          <h5>You have no scheduled classes.</h5>
        <% } %>
        <div class="row portfolio-container">
          <% classes.forEach(obj => { %>
            <div class="col-lg-4 col-md-6 div-sizing">
            <div class="<%= obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 ? 'portfolio-item wow closed-class' : 'portfolio-item wow open-class'; %>" >
              <div class="portfolio-info card-center">
                <h3><%= obj.name %> <%= obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 ? "(Finished)" : ""; %></h3>
                <h6><%= formatDate(obj.start_datetime); %> ~ <%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h6>
                <% if (obj.item_list.length > 0) { %>
                  <h5>Items to bring:</h5>
                  <ul>
                    <% obj.item_list.forEach(item => { %>
                      <li><%= item %></li>
                    <% }); %>
                  </ul>
                <% } %>
                <% if (obj.time_to_class.hours > -1) { %>
                  <form action="/schedule/cancel/confirm" method="POST" class="fix-to-bottom">
                    <input name="class_id" value=<%= obj.class_id %> hidden />
                    <input name="credits" value=<%= !obj.time_to_class.days ? 0 : obj.credit_cost; %> hidden />
                    <input name="hours_to_class" value=<%= obj.time_to_class.hours %> hidden />
                    <button type="submit">Cancel</button>
                    <span><%= !obj.time_to_class.days ? "Class is coming up! This won't refund you any credits." : `This will refund you ${obj.credit_cost} credits.`; %></span>
                  </form>
                <% } %>
              </div>
            </div>
            </div>
          <% }); %>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

    <script>
      $('#sub-cancel').on('submit', e => {
        if (!window.confirm('Are you sure you wish to cancel your subscription? (You will keep your credits)')) {
          e.preventDefault();
        }
      });
    </script>

  </body>
</html>