<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Admin</h1>
        <% if(message) { %>
          <p class="alert alert-success"><%= message %></p>
        <% } %>

        <a href="/admin/create/class_type"><button type="button" class="btn link-btn">Create Class Type</button></a>
        <a href="/admin/create/class"><button type="button" class="btn link-btn">Create Class</button></a>
        <div class="row portfolio-container">
          <% typeList.forEach(type => { %>
            <div class="div-sizing">
            <div class="portfolio-item wow" style="<%= `background: url('public/images/${type.image_url}'); background-size: cover;` %>">
              <div class="portfolio-info card-center">
                <h2 class="card-text"><%= type.name %></h2>
                <div>
                  <a href=<%= `/admin/schedule/class/${type.class_type_id}` %>><button type="button" class="btn link-btn">View Classes</button></a>
                  <form action=<%= `/admin/edit/class_type/${type.class_type_id}` %> method="GET">
                    <button type="submit" class="btn-link">Edit</button>
                  </form>
                  <form class="class_type_del" action="/admin/delete/class_type" method="POST">
                    <input name="class_type_id" value=<%= type.class_type_id %> hidden />
                    <button type="submit" class="btn-link">Delete</button>
                  </form>
                </div>
              </div>
            </div>
            </div>
          <% }); %>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

    <script>
      $('.class_type_del').each(function (index, element) {
        $(this).on('submit', e => {
          if (!confirm('Are you sure you wish to delete this class type? This will delete all classes belonging to this type and refund all students registered for those classes.')) {
            e.preventDefault();
          }
        });
      });
    </script>

  </body>
</html>