<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>
    
    <script type="text/javascript">
      const cancelHandler = (credits) => {
        if (!confirm(`This will refund ${credits} credit(s) to their account, are you sure?`)) {
          event.preventDefault();
        }
      };
    </script>

    <main>
      <div class="jumbotron">
        <h1><%= classObj.name %></h1>
        <h3><%= formatDate(classObj.start_datetime); %></h3>
        <h3><%= formatTime(classObj.start_datetime, false); %> - <%= formatTime(classObj.end_datetime, true); %></h3>
        <p><%= classObj.spots_remaining %> spots remaining!</p>
        <p><%= classObj.credit_cost %> credit(s) to register.</p>
        <% if (studentList.length !== 0) { %>
          <form action="/admin/email" method="POST">
            <input name="student_list" value=<%= studentList %> hidden />
            <button type="submit">Email Students</button>
          </form>
          <div class="row portfolio-container">
            <% studentList.forEach(obj => { %>
              <div class="col-lg-4 col-md-6 div-sizing">
              <div class="portfolio-item wow">
                <div class="portfolio-info card-center">
                  <h3 class="card-text"><%= obj.first_name %> <%= obj.last_name %></h3>
                  <p>Email: <%= obj.email %></p>
                  <p>Credits: <%= obj.credits %></p>
                  <div class="student-buttons d-flex fix-to-bottom">
                    <% if (!completeList[obj.student_id]) { %>
                      <form action="/admin/checkin" method="POST">
                        <input name="class_id" value=<%= classObj.class_id %> hidden />
                        <input name="student_id" value=<%= obj.student_id %> hidden />
                        <button type="submit">Check In</button>
                      </form>
                    <% } else { %>
                      <p>Checked in!</p>
                    <% } %>
                    <form action="/admin/cancel" method="POST" onsubmit="cancelHandler(<%= classObj.credit_cost %>)">
                      <input name="class_id" value=<%= classObj.class_id %> hidden />
                      <input name="student_id" value=<%= obj.student_id %> hidden />
                      <button type="submit">Cancel Registration</button>
                    </form>
                  </div>
                </div>
              </div>
              </div>
            <% }); %>
          </div>
        <% } %>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>