<!DOCTYPE html>
<html lang="en">
    <head>
      	<%- include('../partials/head'); %>
  	</head>
  	<body class="container">

    <header id="header" class="fixed-top">
      	<%- include('../partials/header'); %>
    </header>

    <main>
      	<div class="jumbotron">
			
			<div class="flex-between">
				<a href="/admin"><button type="button" class="btn link-btn"><&nbsp;&nbsp;Back</button></a>
				<a href=<%= `/admin/edit/class_type/${classType.class_type_id}` %>><button type="button" class="btn link-btn">Edit&nbsp;&nbsp;></button></a>
			</div>

			<div class="section-title">
				<h1 class="text-center"><%- classType.name %></h1>
		
				<form action=<%= `/admin/create/class/${classType.class_type_id}` %> class="flex">
					<input name="class_type_id" value="<%= classType.class_type_id %>" hidden>
					<button type="submit" class="btn link-btn">Create Class</button>
				</form>
			</div>

			<h2>Description: </h2>
        	<p class="desc-text"><%- classType.description %></p>
        	
			<h2>Classes: </h2>
			<div class="row portfolio-container">
          		<% classList.forEach(obj => { %>
            		<div class="div-sizing">
            			<div class="<%= !obj.can_register ? 'portfolio-item wow closed-class' : 'portfolio-item wow open-class'; %>" >
              				<div class="portfolio-info card-center admin-card">

                				<h5><%= formatDate(obj.start_datetime); %></h5>
                				<h5><%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h5>
                				<p>Spots Remaining: <%= obj.spots_remaining %></p>
                				<p>Credit Cost: <%= obj.credit_cost %></p>

                				<div id="admin-view-students-button" class="card-center">

                  					<a href=<%= `/admin/class/${obj.class_id}` %>><button type="button" class="btn link-btn">View Students</button></a>

                  					<div class="d-flex">

                    					<form action=<%= `/admin/edit/class/${obj.class_id}` %> method="GET">
                      						<button type="submit" class="btn-link">Edit</button>
                    					</form>

                    					<% if (obj.can_register) { %>
                      						<form class="class_del" action="/admin/delete/class" method="POST">
                        						<input name="class_id" value=<%= obj.class_id %> hidden />
                        						<button class="btn-link" type="submit">Delete</button>
                      						</form>
                    					<% } %>

                  					</div>
                				</div>
              				</div>
            			</div>
            		</div>
          		<% }); %>
        	</div>
      	</div>
    </main>

    <footer>
      	<%- include('../partials/footer'); %>
    </footer>

    <script>
      	$('.class_del').each(function (index, element) {
	        $(this).on('submit', e => {
          		if (!confirm('Are you sure you want to delete this class? This will refund all registered students.')) {
            		e.preventDefault();
          		}
        	});
      	});
    </script>

  	</body>
</html>
