<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1><%= classType.name %></h1>
        <div class="row portfolio-container">
          <% classList.forEach(obj => { %>
            <div class="<%= obj.time_to_class.hours < 0 ? 'col-lg-4 col-md-6 portfolio-item wow closed-class' : 'col-lg-4 col-md-6 portfolio-item wow open-class'; %>" >
              <% if (obj.time_to_class.hours < 0) { %>
                <h2>Closed</h2>
              <% } %>
              <h3><%= formatDate(obj.start_datetime); %></h3>
              <h3><%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h3>
              <p>Spots Remaining: <%= obj.spots_remaining %></p>
              <p>Credit Cost: <%= obj.credit_cost %></p>
              <a href=<%= `/admin/class/${obj.class_id}` %>>View Students</a>
              <button>Delete</button>
              <button>Edit</button>
            </div>
          <% }); %>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>