<!DOCTYPE html>
<html lang="en">
  	<head>
    	<%- include('../partials/head'); %>
  	</head>
  	<body class="container">

    <header id="header" class="fixed-top">
    	<%- include('../partials/header'); %>
    </header>
    
    <script type="text/javascript">
      	const cancelHandler = (credits) => {
	        if (!confirm(`This will refund ${credits} credit${credits > 1 ? 's' : ''} to their account, are you sure?`)) {
          		event.preventDefault();
        	}
      	};
    </script>

    <main>
      	<div class="jumbotron">
        
			<div class="flex-between">
				<a href="/admin"><button type="button" class="btn link-btn"><&nbsp;&nbsp;Back</button></a>
				<a href=<%= `/admin/edit/class/${classObj.class_id}` %>><button type="button" class="btn link-btn">Edit&nbsp;&nbsp;></button></a>
			</div>

			<div class="section-title">
				<h1 class="text-center">Admin</h1>
				<h2 class="text-center">View Class</h2>
			</div>
        	
			<h1><%= classObj.name %></h1>

        	<h3><%= formatDate(classObj.start_datetime); %></h3>
        	<h3><%= formatTime(classObj.start_datetime, false); %> - <%= formatTime(classObj.end_datetime, true); %></h3>

        	<p><%= classObj.spots_remaining %> spots remaining.</p>
        	<p><%= classObj.credit_cost %> credit<%= classObj.credit_cost > 1 ? 's' : '' %> to register.</p>

        	<% if (studentList.length !== 0) { %>

	  			<a href="mailto:<% studentList.forEach(obj => { %><%= obj.email %>,<% }); %>">Email Students</a>

          		<div class="row portfolio-container">
            		<% studentList.forEach(obj => { %>
              			<div class="div-sizing">
              				<div class="portfolio-item wow">
                				<div class="portfolio-info card-center admin-card">

                  					<div>
                    					<h4 class="card-text"><%= obj.first_name %> <%= obj.last_name %></h4>
		    							<p><a href="mailto:<%= obj.email %>"><%= obj.email %></a></p>
                    					<p>Credits: <%= obj.credits %></p>
                  					</div>

                  					<% if (!completeList[obj.student_id]) { %>
                    					<form action="/admin/checkin" method="POST">
                      						<input name="class_id" value=<%= classObj.class_id %> hidden />
                      						<input name="student_id" value=<%= obj.student_id %> hidden />
                      						<button type="submit">Check In</button>
                    					</form>
                  					<% } else { %>
                    					<p>Checked in!</p>
                  					<% } %>

                  					<form action="/admin/cancel" method="POST" onsubmit="cancelHandler(<%= classObj.credit_cost %>)">
                    					<input name="class_id" value=<%= classObj.class_id %> hidden />
                    					<input name="student_id" value=<%= obj.student_id %> hidden />
                    					<button type="submit" class="btn-link">Cancel Registration</button>
                  					</form>
                				</div>
              				</div>
              			</div>
            		<% }); %>
          		</div>

        	<% } %>
      	</div>
    </main>

    <footer>
      	<%- include('../partials/footer'); %>
    </footer>

  	</body>
</html>