<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <% if (credits > 1) { %>
          <p>Cancelling this class will refund you <%= credits %> credits. Are you sure?</p>
          <p>You have <%= user.credits %> credits in your account.</p>
        <% } else if (credits == 1) { %>
          <p>Cancelling this class will refund you <%= credits %> credit. Are you sure?</p>
          <p>You have <%= user.credits %> credits in your account.</p>
        <% } else { %>
          <p>Cancelling this class won't refund you any credits because it is within 24 hours of starting. Are you sure?</p>
        <% } %>
        
        <a href="/account">Go Back</a>
        <form action="/schedule/cancel" method="POST">
          <input name="class_id" value=<%= class_id %> hidden />
          <input name="credits" value=<%= credits %> hidden />
          <button type="submit">Confirm</button>
        </form>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>