<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <h1>Image placeholder</h1>
      <h2>Class Schedules</h2>
      <ul>
        <% typeList.forEach(type => { %>
          <li>
            <h2><%= type.name %></h2>
            <p><%= type.description %></p>
            <a href=<%= `/schedule/${type.class_type_id}` %>>View Schedule</a>
          </li>
        <% }); %>
      </ul>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>