<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <img class="home-image" src="../../public/images/home_page_image.jpg" width="100%">
      <div class="jumbotron home">
        <h2>Class Schedules</h2>
        <div class="row portfolio-container">
          <% typeList.forEach(type => { %>
            <div class="col-lg-4 col-md-6 portfolio-item wow" style="<%= `background: url('public/images/${type.image_url}'); background-size: cover;` %>">
                <div class="portfolio-info">
                  <h2><%= type.name %></h2>
                  <p><%= type.description %></p>
                  <a href=<%= `/schedule/${type.class_type_id}` %>>View Schedule</a>
                </div>
            </div>
          <% }); %>
          </div>
      </div>
    </main>

    <footer class="fixed-bottom footer-home">
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>