<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="text-center">Purchase Credits</h1>
        <% if (message) { %>
          <p class="alert alert-danger"><%= message %></p>
        <% } %>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="/purchase/checkout" method="POST" class="input-form card-center">
              <div class="form-group mt-3">
                <label for="credit-options">Select Type:</label><br>
                <select name="credit-options" required>
                  <% if (subscriptions.length === 0) { %>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="one-time">One-Time Purchase</option>
                    <option value="subscription">Subscription (monthly)</option>
                  <% } else { %>
                    <option value="one-time">One-Time Purchase</option>
                  <% } %>
                </select>
              </div>
              <div class="form-group mt-3">
                <label for="credit-amount">Credit Amount:</label><br>
                <input name="credit-amount" type="number" min="1" max="50" class="form-control" required />
              </div>

              <p>Credit or Debit card:</p>
              <div id="card-element"></div>
              <div id="card-error" role="alert"></div>

              <div class="text-center">
                <button type="submit">Checkout</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
      <span id="stripe_pk" hidden><%= stripe_pk %></span>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        $(document).ready(() => {
          const stripe = Stripe($('#stripe_pk').text());
          const elements = stripe.elements();

          // Create our card inputs
          var style = {
            base: {
              fontSize: '16px', '::placeholder': { color: "#aab7c4"},
              fontFamily: '"Open Sans", "Helvetica", sans-serif',
              fontSmoothing: 'antialiased',
            },
            invalid: {
              color: '#fa755a',
              iconColor: '#fa755a'
            }
          };

          const card = elements.create('card', { style });
          card.mount('#card-element');

          const form = document.querySelector('form');
          const errorEl = document.querySelector('#card-errors');

          // Give our token to our form
          const stripeTokenHandler = token => {
            const hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            form.submit();
          };

          // Create token from card data
          form.addEventListener('submit', e => {
            e.preventDefault();

            stripe.createToken(card).then(res => {
              if (res.error) errorEl.textContent = res.error.message;
              else stripeTokenHandler(res.token);
            });
          });
        });
      </script>
    </footer>

  </body>
</html>