<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="text-center">Purchase Credits</h1>
        <% if (message) { %>
          <p class="alert alert-danger"><%= message %></p>
        <% } %>

        <p class="alert alert-primary text-center">Individual Class Credit - $25<br>Monthly Subscription Option A - $100 - includes 5 class credits per month<br>Monthly Subscription Option B - $150 - includes 8 class credits per month</p>

        <div class="row justify-content-center">
          <div class="col-lg-10">
            <form id="purchase" action="/purchase/checkout" method="POST" class="input-form card-center">
              <div class="form-group mt-3">
                <label for="credit-options">Select Type:</label><br>
                <select id="credit-options" name="credit-options" required>
                  <% if ((!subscriptions || subscriptions.length === 0) && (!cancelledSubscriptions || cancelledSubscriptions.length === 0)) { %>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="one-time">One-Time Purchase</option>
                    <option value="subscription">Subscription (monthly)</option>
                  <% } else { %>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="one-time">One-Time Purchase</option>
                  <% } %>
                </select>
              </div>
              <div class="form-group mt-3">
                <div id="one-time-credit-select" style="display: none;">
                  <label for="credit-amount">Enter # of Credits:</label>
                  <input id="onetime-credit-amount" name="credit-amount" type="number" size="2" min="1" max="50" class="form-control" required />
                </div>
                <div id="subscription-credit-select" style="display: none;">
                  <label for="credit-amount">Subscription Option:</label><br>
                  <select id="sub-credit-amount" name="credit-amount" required>
                    <option disabled selected value> -- select an option --</option>
                    <option value="5">Option A (5/month)</option>
                    <option value="8">Option B (8/month)</option>
                  </select>
                </div>
              </div>

              <div class="alert alert-warning">
                <p>Total: <span id="checkout-total">$0.00</span></p>
              </div>

              <p id="e-transfer">To pay by e-transfer, send payment to <a href='mailto:lisa@fortysix10fitness.ca'>lisa@fortysix10fitness.ca</a>. Your credits will be added to your account within 12 hours.</p>

              <p>Pay by Credit or Debit card:</p>
              <p id="subscription-notice" style="display: none;"><i>your card will be charged automatically each month</i></p>
              <div id="card-element"></div>
              <div id="card-error" role="alert"></div>

              <div class="text-center">
                <button form="purchase" type="submit">Purchase</button>
              </div>
            </form>

            <p class="alert alert-info fine-print">
              Class credits are non-refundable and non-transferable.<br>
              Class credits don't have an expiry date.<br>
              Registration online is required for each class.<br>
              Must cancel a class more then 12hrs ahead, or forfeit that class credit.<br>
              Monthly Subscription fee will be charged on the same date each month as the date of original purchase.<br>
              Subscriptions can be canceled at any time and any unused credits will remain in your account, but you can only sign up for a subscription once every 30 days.<br>
              Prices include GST.</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
      
      <span id="one-time-credit-cost" hidden><%= credit_cost.one_time %></span>
      <span id="sub-option-one-credit-cost" hidden><%= credit_cost.sub_option_one %></span>
      <span id="sub-option-two-credit-cost" hidden><%= credit_cost.sub_option_two %></span>
      <script>
        // Credit & total updating logic
        $(document).ready(() => {
          const creditOptionEl = $('#credit-options');

          const checkoutTotal = $('#checkout-total');

          const creditSelectOneTimeEl = $('#one-time-credit-select');
          const creditSelectSubEl = $('#subscription-credit-select');

          const creditAmountOneTimeEl = $('#onetime-credit-amount');
          const creditAmountSubEl = $('#sub-credit-amount');

          const eTransfer = $('#e-transfer');
          const subscriptionNotice = $('#subscription-notice');

          creditOptionEl.change(function () {
            if (creditOptionEl.val() === 'one-time') {
              checkoutTotal.text(`$${((creditAmountOneTimeEl.val() * $('#one-time-credit-cost').text()) * 0.01).toFixed(2)}`);
              creditSelectOneTimeEl.show();
              $('#onetime-credit-amount').prop('required', true);
              creditSelectSubEl.hide();
              $('#sub-credit-amount').prop('required', false);
              eTransfer.show();
              subscriptionNotice.hide();
            } else {
              if (creditAmountSubEl.val() === '5') {
                checkoutTotal.text(`$${((5 * $('#sub-option-one-credit-cost').text()) * 0.01).toFixed(2)}`);
              } else if (creditAmountSubEl.val() === '8') {
                checkoutTotal.text(`$${((8 * $('#sub-option-two-credit-cost').text()) * 0.01).toFixed(2)}`);
              } else {
                checkoutTotal.text('$0.00');
              }
              creditSelectSubEl.show();
              $('#sub-credit-amount').prop('required', true);
              creditSelectOneTimeEl.hide();
              $('#onetime-credit-amount').prop('required', false);
              eTransfer.hide();
              subscriptionNotice.show();
            }
          });
          
          creditAmountOneTimeEl.change(function () {
            checkoutTotal.text(`$${((creditAmountOneTimeEl.val() * $('#one-time-credit-cost').text()) * 0.01).toFixed(2)}`)
          });

          creditAmountSubEl.change(function () {
            if (creditAmountSubEl.val() === '5') {
              checkoutTotal.text(`$${((5 * $('#sub-option-one-credit-cost').text()) * 0.01).toFixed(2)}`);
            } else if (creditAmountSubEl.val() === '8') {
              checkoutTotal.text(`$${((8 * $('#sub-option-two-credit-cost').text()) * 0.01).toFixed(2)}`);
            }
          });
        });
      </script>

      <span id="stripe_pk" hidden><%= stripe_pk %></span>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        // Stripe card element logic
        $(document).ready(() => {
          const stripe = Stripe($('#stripe_pk').text());
          const elements = stripe.elements();

          // Create our card inputs
          var style = {
            base: {
              fontSize: '16px', '::placeholder': { color: "#aab7c4"},
              fontFamily: '"Open Sans", "Helvetica", sans-serif',
              fontSmoothing: 'antialiased',
            },
            invalid: {
              color: '#fa755a',
              iconColor: '#fa755a'
            }
          };

          const card = elements.create('card', { style });
          card.mount('#card-element');

          const form = document.querySelector('form');
          const errorEl = document.querySelector('#card-errors');

          // Give our token to our form
          const stripeTokenHandler = token => {
            const hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            form.submit();
          };

          // Create token from card data
          form.addEventListener('submit', e => {
            console.log('foo');
            e.preventDefault();

            stripe.createToken(card).then(res => {
              if (res.error) errorEl.textContent = res.error.message;
              else stripeTokenHandler(res.token);
            });
          });
        });
      </script>
    </footer>

  </body>
</html>
