<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1><%= classType.name %></h1>
        <p><%- classType.description %></p>
        <div class="row portfolio-container">
          <% if (classList.length > 0) { %>
            <% classList.forEach(obj => { %>
              <div class="div-sizing">
                <div class="<%= obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 || obj.spots_remaining < 1 ? 'portfolio-item wow closed-class' : 'portfolio-item wow open-class'; %>" >
                  <div class="portfolio-info card-center">
                    <h5><%= formatDate(obj.start_datetime); %></h5>
                    <h5><%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h5>
                    <p><%= obj.spots_remaining %> spot<%= obj.spots_remaining > 1 ? 's' : '' %> remaining!</p>
                    <% if (obj.spots_remaining > 0) { %>
                      <p><%= obj.credit_cost %> credit<%= obj.credit_cost > 1 ? 's' : '' %> to register.</p>
                    <% } %>
                    <% if (obj.time_to_class.hours > -1 && obj.spots_remaining > 0) { %>
                      <form action="/schedule/register/confirm" method="POST">
                        <input name="class_type_id" value=<%= obj.class_type_id %> hidden />
                        <input name="class_id" value=<%= obj.class_id %> hidden />
                        <input name="credits" value=<%= obj.credit_cost %> hidden />
                        <input name="spots_remaining" value=<%= obj.spots_remaining %> hidden />
                        <button type="submit">Register</button>
                      </form>
                    <% } %>
                    <% if (obj.time_to_class.days < 0 || obj.time_to_class.hours < 0 || obj.time_to_class.minutes < 0 || obj.spots_remaining < 1) { %>
                      <h5>Closed</h5>
                    <% } %>
                  </div>
                </div>
              </div>
            <% }); %>
          <% } else { %>
            <h4>There are currently no scheduled <%= classType.name %> classes that you can register for.</h4>
          <% } %>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>