<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <a class="nav-link" href="/">Home</a>
      </div>
      <ul>
        <% classList.forEach(obj => { %>
          <li>
            <h3><%= formatDate(obj.start_datetime); %></h3>
            <h3><%= formatTime(obj.start_datetime, false); %> - <%= formatTime(obj.end_datetime, true); %></h3>
            <h4>Spots Remaining: <%= obj.spots_remaining %></h4>
            <a href=<%= `/register/${obj.class_id}` %>>Register</a>
          </li>
        <% }); %>
      </ul>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>